---
layout: page
title: 頁
subtitle: This content is apart from the main content

no_search: true
comments: false
---
  I'm probably using this section for practicing Japanese writing or for posting things that are not relevant.
  <ul>
    {% for item in site['pages'] %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>

  {% for item in site['pages_en'] %}
    <h1>English Pages</h1>
    {% break %}
  {% endfor %}
  <ul>
    {% for item in site['pages_en'] %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>

  {% for item in site['pages_es'] %}
    <h1>Spanish Pages</h1>
    {% break %}
  {% endfor %}
  <ul>
    {% for item in site['pages_es'] %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>