{% if page.layout == "placeholder" %}
    {% assign reasign_url = page.traducciones[0] | append: page.url | absolute_url %}
    <meta http-equiv="refresh" content="0; URL={{ reasign_url }}" />
    <meta name="robots" content="noindex">
{% endif %}

<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">