/* kustom */
.centrar_vertical{
    position: relative;
    height: 500px;
}

.centrar_vertical div.centrar_este {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
  
.background_header{
    position: absolute;
    background: rgba(24, 24, 24, 0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  
    top: -25px;
    left: -25px;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    z-index: -2;
  
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
}

.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
    padding: 0;
}

@media (min-width: 1200px) {
    .intro-header.big-img .page-heading,
    .intro-header.big-img .post-heading {
        padding: 0;
    }
}

/* */

.dp_oculto{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.826);
    z-index: 1031; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
}

.dp_img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.dp_agrupador{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dp_oculto img.dp_img2{
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 100px);
}
.dp_oculto div.dp_cap{
    padding: 10px 20px;
    max-height: 100px;

    word-break: break-all;
    overflow: hidden;

    background: rgb(0, 0, 0);

    color: #c5c5c5;
    text-align: center;
    mix-blend-mode: difference;

    text-align: center;
    font-size: 18px;
}

@media (max-width: 600px) {
    .dp_oculto div.dp_cap{
        font-size: 10px;
    }
}

.dp_oculto{
    -webkit-animation-name: fade_in;
    -webkit-animation-duration: 0.6s;
    animation-name: fade_in;
    animation-duration: 0.6s;
}

.out {
    animation-name: fade_out;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fade_out {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes fade_out {
    from {opacity: 1;}
    to {opacity: 0;}
}